# ForgeGradle
/.gradle
/build
/run

# Minecraft runtime files and config files
/logs
/config
options.txt
/saves
usernamecache.json

# Eclipse
.classpath
.project
/.settings
/bin
/eclipse

# IntelliJ
/.idea
*.iml
*.ipr
*.iws
/out

# Mac Stuff
.DS_Store
*.command

# External APIs

# BeefCore, when it's copied into the source tree
/src/main/java/erogenousbeef/core
lib/worldedit-forge-mc1.7.10-6.1.2-SNAPSHOT.jar
